/* ============================================= */
/*              Mixins                        */
/* ============================================= */


//  Image mixin 
@mixin image-display-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}