/* ============================================= */
/*              Variables                        */
/* ============================================= */

/* Colors */
$color-primary: #58e1c1;
$color-secondary: #777;
$link-color: #51ddfc;
$border-color: #ccc;
$white: #fff;

/* Media Query Breakpoint */
$breakpoint-lg: 768px;
