/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Colors
$color-primary: #58e1c1;
$color-secondary: #777;
$link-color: #51ddfc;
$border-color: #ccc;
$white: #fff;

// Button Colors

// Font Stacks
$lato-font-stack: "Lato", sans-serif;

// Font Sizes

// Media Query Breakpoint
$breakpoint-lg: 768px;
