/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn:hover {
  transition: background-color 0.3s ease-in;
}

.default {
  background-color: $default-btn;

  &:hover {
    background-color: $default-btn-lighten;
  }
}

.error {
  background-color: $error-btn;

  &:hover {
    background-color: $error-btn-lighten;
  }
}

.info {
  background-color: $info-btn;

  &:hover {
    background-color: $info-btn-lighten;
  }
}

.success {
  background-color: $success-btn;

  &:hover {
    background-color: $success-btn-lighten;
  }
}

.warning {
  background-color: $warning-btn;

  &:hover {
    background-color: $warning-btn-lighten;
  }
}
